---
import "@/styles/landing.css";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Code, Icon, Tabs, TabItem } from "@astrojs/starlight/components";
import Typewriter from "@/components/Typewriter";
import CopyText from "@/components/CopyText";
import {
  NODE_SAMPLE_CODE,
  DENO_SAMPLE_CODE,
  BUN_SAMPLE_CODE,
  API_HANDLER_CODE,
} from "@/lib/common/code";

const PACKAGE_MANAGERS = ["npm", "yarn", "pnpm", "bun"];
---

<StarlightPage
  frontmatter={{ title: "Home", template: "splash", hero: { title: "keiro" } }}
  class:list={["!bg-black"]}
>
  <div class="flex lg:flex-row flex-col justify-between w-full gap-4 pt-10 lg:pt-20">
    <div>
      <h1 class="flex flex-row items-center gap-2">
        <span class="text-cyan-400 font-bold">keiro</span><br />
      </h1>
      <h1>
        <span>file-system routing middleware</span>
      </h1>
      <h4 class="!text-slate-400">A simple file-system routing compatible with node and fetch</h4>
    </div>
    <div data-framework>
      <Tabs>
        <TabItem label="Node" icon="node">
          <Code
            code={NODE_SAMPLE_CODE}
            lang="ts"
            title={"src/main.ts"}
            class="lg:w-[600px] w-full"
          />
        </TabItem>
        <TabItem label="Deno" icon="deno">
          <Code
            code={DENO_SAMPLE_CODE}
            lang="ts"
            title={"src/main.ts"}
            class="lg:w-[600px] w-full"
          />
        </TabItem>
        <TabItem label="Bun" icon="bun">
          <Code
            code={BUN_SAMPLE_CODE}
            lang="ts"
            title={"src/main.ts"}
            class="lg:w-[600px] w-full"
          />
        </TabItem>
        <TabItem label="API Handler" icon="seti:typescript">
          <Code
            code={API_HANDLER_CODE}
            lang="ts"
            title={"src/routes/index.ts"}
            class="lg:w-[600px] w-full"
          />
        </TabItem>
      </Tabs>
    </div>
  </div>

  <div class="flex flex-row gap-2 !mt-10 w-full mx-auto justify-center">
    <a
      href={import.meta.env.BASE_URL + "guides/getting-started"}
      class="px-4 py-2 rounded-lg !text-white bg-cyan-500 hover:bg-cyan-600 no-underline font-bold flex flex-row gap-2 items-center min-w-56"
    >
      <Icon name="document" color="white" size="1.5rem" />
      Read Docs
    </a>
    <a
      href="https://github.com/Neo-Ciber94/keiro"
      class="px-4 py-2 rounded-lg !text-white bg-slate-600 hover:bg-slate-700 no-underline font-bold flex flex-row gap-2 items-center min-w-56"
    >
      <Icon name="github" color="white" size="1.5rem" />
      View on Github
    </a>
  </div>

  <div data-pkg-manager-install class="rounded-md p-0.5 !mt-12">
    <div class={"bg-black rounded-md p-2 overflow-hidden"}>
      <Tabs>
        {
          PACKAGE_MANAGERS.map((pkgManager) => {
            return (
              <TabItem label={pkgManager}>
                <span class="flex flex-row pb-3 px-4 text-white relative">
                  <Typewriter
                    client:visible
                    content={`${pkgManager} add keiro`}
                    highLightWords={[pkgManager]}
                  />
                  <CopyText
                    client:visible
                    text={`${pkgManager} add keiro`}
                    className={"absolute right-2 !mt-0 text-white"}
                  />
                </span>
              </TabItem>
            );
          })
        }
      </Tabs>
    </div>
  </div>

  <footer
    class="w-full h-16 fixed bottom-0 bg-[rgb(1,22,39,0.95)] dark:bg-black/10 border-t border-teal-400/30 left-0 flex flex-row justify-center items-center"
  >
    <span class="text-white">
      &copy; Copyleft {new Date().getFullYear()}
    </span>
  </footer>
</StarlightPage>
